body {
  background: url("../images/bananas.png");
}

.col-md-3,
#random-number,
#win-counter,
#loss-counter,
#total-score {
  background: white;
}

.crystal {
  width: 22%;
  height: 22%;
  margin: 5px;
}
